<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Sing in</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="nav-img" src=<%= imgs_path + "cws.png" %> alt="CWS" width="85" height="70">
            </a>

            <ul class="nav navbar-nav">
                <li><a href="https://github.com/B-Borecki/Cloudy-Web-Store" style="color: #FFFFFF;">GitHub</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="/search">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login" style="color: #FF9C3A;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
