<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Sing in</title>
    <style>
        .nav-img {
            margin-top: -25px;
        }
        img {
            margin-top: 20px;
        }

        .navbar {
            height: 65px;
            padding-top: 5px;
            background-color: #262A37;
            margin-bottom: 50px;
        }

        .custom-card {
            margin-top: 15px;
            transition: box-shadow 0.3s;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            overflow: hidden;

        }

        .custom-card:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .box {
            padding: 20px 25px 20px 25px;
            width: 400px;
        }

        .mt-5 {
            margin-top: 30px;
            margin-left: 160px;
        }
    </style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-expand-lg">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">
              <img class="nav-img" src=<%= imgs_path + "cws.png" %> alt="CWS" width="85" height="70">
          </a>
          <ul class="nav navbar-nav">
              <li><a href="https://github.com/B-Borecki/Cloudy-Web-Store" style="color: #FFFFFF;">GitHub</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/search">
              <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Search">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                  </div>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
              <% if (session.authorized) { %>
                <li><a style="color: #FFFFFF;">Welcome <%= session.user %></a></li>
              <%}%>
              <li><a href="/login" style="color: #FF9C3A;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          </ul>
      </div>
  </nav>

  <div class="container registration-container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Sign in:</h2>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" class="form-control" id="login" name="login" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
            <%if (!login_exists) {%>
              <p id="loginMessage" style="color: red; margin-top: 5px;">
              <%= loginMessage %>
              <script>
                document.getElementById('login').value = '';
                document.getElementById('password').value = '';
              </script>
            </p>
            <%} else {%>
              <p id="loginMessage" style="color: green; margin-top: 5px;">
                <%= loginMessage %>
                <script>
                    document.getElementById('login').value = '';
                    document.getElementById('password').value = '';
                </script>
              </p>
            <% } %>
        </form>
        <p class="mt-3" style="margin-top: 20px;">Don't have an account? <a href="/register">Sign up</a></p>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
